* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    ;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 255, 98);
    left: 0;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px;
    z-index: 50;
    transition: 0.8s;
}

nav ul a {
    display: block;
    padding: 30px;
}

body {}

nav {}

nav ul li {
    list-style: none;
}








input[type="checkbox"]:checked {
    display: none;
}