* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}

html {
    scroll-behavior: smooth;
}

header{
    background-color: rgb(57, 186, 53);
    display: flex;
    height: 60px;
    width: 100vw;
}

.logo img{
    width: 60px;
    display: flex;
}

nav ul{
    display: none;
}


/* nav {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(87, 85, 85);
    left: 0;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px;
    z-index: 50;
    transition: 0.8s;
}

nav ul a {
    display: block;
    padding: 30px;
}

body {}

nav {}

nav ul li {
    list-style: none;
}




.logo label{
    color: rgb(189, 42, 42);
    font-size: 20px;
}

.logo h3{
    font-size: 8px;
}



input[type="checkbox"]:checked {
    display: none;
}

main,
footer{
    color: black;
    background-color: blanchedalmond;
}

*/

form {
    position: relative;
    margin-top: 100px;
    margin-right: 1135px;

}
form .categoria{
    margin-left: 50px;
    background-color: rgba(43, 43, 43, 0.274);
    border-radius: 8px;
    padding:-10px;
}
.categoria select{
    border-radius: 1cm;
    background-image: linear-gradient(to right, #c9c2c2 0%, rgb(0, 87, 128) 100%);
}
form h4{
    padding-left:0px;
}

form h3{
    padding-left: 50px;
    font-size: 15px;
}
form p{
    text-align: center;
}